{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block stylesheet %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

{% endblock %}

{% block body %}
    <section class="py-5 text-center container">

    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">PARADISPO</h1>
        <p class="lead text-muted">Management system for PARADISPO, only for PARADISPO Team </p>
        <p>
          <a href="#" class="btn btn-primary my-2">Login to access</a>
        </p>
      </div>
    </div>
  </section>

{% endblock %}





















