{% extends 'base.html.twig' %}

{% block title %}Edit Memeber{% endblock %}

{% block body %}
<div class="row my-4">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
            Edit product Details
            </div>
            <div class="card-body">
            {{form(form)}}
            </div>
        </div>
    </div>
</div>
   
{% endblock %}
